@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Управління меню ресторану GigiGaga</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a asp-controller="Dish" class="page-link">Страви</a>
            </li>
            <li class="nav-item">
                <a asp-controller="DishCategory" class="page-link">Категорії</a>
            </li>
        </ul>
    } else {
        <h1 class="display-4">Вітаємо</h1>
        <h1 class="display-6">Перед початком роботи увійдіть у систему</h1>
        <a class="btn-primary btn-lg btn col-2" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
    }
    
</div>
