@model RestaurantMenu.Admin.ViewModels.DishViewModel

@{
    ViewData["Title"] = "Редагування";
}

<h1>Редагування</h1>

<h4>Страва</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dish.Id" />
            <div class="form-group">
                <label asp-for="Dish.Name" class="control-label"></label>
                <input asp-for="Dish.Name" class="form-control" />
                <span asp-validation-for="Dish.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Price" class="control-label"></label>
                <input asp-for="Dish.Price" class="form-control" />
                <span asp-validation-for="Dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dish.Special" /> @Html.DisplayNameFor(model => model.Dish.Special)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Dish.SpecialPrice" class="control-label"></label>
                <input asp-for="Dish.SpecialPrice" class="form-control" />
                <span asp-validation-for="Dish.SpecialPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Consist" class="control-label"></label>
                <input asp-for="Dish.Consist" class="form-control" />
                <span asp-validation-for="Dish.Consist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Weight" class="control-label"></label>
                <input asp-for="Dish.Weight" class="form-control" />
                <span asp-validation-for="Dish.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input name="image" type="file" class="form-control" accept="image/jpeg" />
                <img class="card-img-top" src="data:image/jpeg;base64, @Model.Dish.ImageBase64" alt="Card image cap" style="height:150px;width:auto">
                <input type="hidden" asp-for="Dish.ImageBase64" value="@Model.Dish.ImageBase64" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.DishCategoryId" class="control-label"></label>
                <select asp-for="Dish.DishCategoryId" class="form-control" asp-items="ViewBag.DishCategoryId"></select>
                <span asp-validation-for="Dish.DishCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}