@{
    IEnumerable<DishCategory> dishCategories = ViewData["Categories"] as IEnumerable<DishCategory>;
}
<div class="text-center">
    <a asp-action="Index"><h1 class="display-4 link-light">GigiGaga</h1></a>
    <ul class="nav justify-content-center">
        @foreach (var category in dishCategories)
        {
            <li class="nav-item">
                <a asp-action="Category" asp-route-id="@category.Id" class="btn btn-secondary btn-lg m-2 p-4">@category.Name</a>
            </li>
        }
    </ul>
</div>